.card {
  border: 0px;
}

.backpack-card {
  border: 0px;
}

.backpack-footer {
  border: 0px;
}

.categories img {
  width: 300px;
}

.categories h4 h3 {
  color: #373956;
}

.categories h1 {
  color: #6cc284;
}
.logo img {
  width: 300px;
}

.bag img {
  width: 450px;
}

.find img {
  width: 600px;
}
